<div class="mobile-container">
  <app-navbar></app-navbar>
</div>

<div class="tablet-container">
  <app-navbar></app-navbar>
</div>

<div class="desktop-container">
  <app-navbar></app-navbar>

  <div class="desktop-content">
    <div class="nav-page-head">
      <p class="h-5">01</p>
      <p class="h-5">Pick Your Destination</p>
    </div>

    <div class="destination-content">
      <div class="photo">
        <span><img [src]="photoSrc" /></span>
      </div>

      <div class="info">

      </div>
    </div>
  </div>
</div>