<div class="mobile-container">
  <app-navbar [selected]="'destination'"></app-navbar>

  <div class="mobile-content">
    <div class="nav-page-head">
      <p class="h-5">01</p>
      <p class="h-5">Pick Your Destination</p>
    </div>

    <div class="destination-content">
      <div class="photo">
        <span><img [src]="photoSrc" /></span>
      </div>

      <div class="info">
        <div class="nav">
          <ng-container *ngFor="let item of destinations; let i = index">
            <div id="nav{{i}}" [ngClass]="navItemClass[i]" (click)="select(i)">{{ item.name }}</div>
          </ng-container>
        </div>

        <p class="h-2">{{ name }}</p>

        <div class="text">{{ description }}</div>

        <div class="hr">.</div>

        <div class="measures">
          <div class="avg">
            <p class="desc">Avg. Distance</p>
            <p class="h-4">{{ distance }}</p>
          </div>

          <div class="est">
            <p class="desc">Est. Travel Time</p>
            <p class="h-4">{{ travel }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tablet-container">
  <app-navbar [selected]="'destination'"></app-navbar>

  <div class="tablet-content">
    <div class="nav-page-head">
      <p class="h-5">01</p>
      <p class="h-5">Pick Your Destination</p>
    </div>

    <div class="destination-content">
      <div class="photo">
        <span><img [src]="photoSrc" /></span>
      </div>

      <div class="info">
        <div class="nav">
          <ng-container *ngFor="let item of destinations; let i = index">
            <div id="nav{{i}}" [ngClass]="navItemClass[i]" (click)="select(i)">{{ item.name }}</div>
          </ng-container>
        </div>

        <p class="h-2">{{ name }}</p>

        <div class="text">{{ description }}</div>

        <div class="hr"></div>

        <div class="measures">
          <div class="avg">
            <p class="desc">Avg. Distance</p>
            <p class="h-4">{{ distance }}</p>
          </div>

          <div class="est">
            <p class="desc">Est. Travel Time</p>
            <p class="h-4">{{ travel }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="desktop-container">
  <app-navbar [selected]="'destination'"></app-navbar>

  <div class="desktop-content">
    <div class="nav-page-head">
      <p class="h-5">01</p>
      <p class="h-5">Pick Your Destination</p>
    </div>

    <div class="destination-content">
      <div class="photo">
        <span><img [src]="photoSrc" /></span>
      </div>

      <div class="info">
        <div class="nav">
          <ng-container *ngFor="let item of destinations; let i = index">
            <div id="nav{{i}}" [ngClass]="navItemClass[i]" (click)="select(i)">{{ item.name }}</div>
          </ng-container>
        </div>

        <p class="h-2">{{ name }}</p>

        <div class="text">{{ description }}</div>

        <div class="hr"></div>

        <div class="measures">
          <div class="avg">
            <p class="desc">Avg. Distance</p>
            <p class="h-4">{{ distance }}</p>
          </div>

          <div class="est">
            <p class="desc">Est. Travel Time</p>
            <p class="h-4">{{ travel }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>