<div class="mobile-container">
  <div class="logo-menu">
    <div class="logo">
      <img src="../../../assets/shared/logo.svg" />
    </div>
  
    <div class="menu">
      <img *ngIf="!isOpened" (click)="open()" src="../../../assets/shared/icon-hamburger.svg" />
    </div>
  </div>

  <div id="m-nav" class="nav">
    <div class="menu">
      <img *ngIf="isOpened" (click)="close()" src="../../../assets/shared/icon-close.svg" />
    </div>
    <a class="nav-item" href="/"><strong>00</strong>Home</a>
    <a class="nav-item" href="/destination"><strong>01</strong>Destination</a>
    <a class="nav-item" href="/crew"><strong>02</strong>Crew</a>
    <a class="nav-item" href="/technology"><strong>03</strong>Technology</a>
  </div>
</div>

<div class="tablet-container">
  <div class="logo">
    <img src="../../../assets/shared/logo.svg" />
  </div>

  <div class="nav">
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/destination">Destination</a>
    <a class="nav-item" href="/crew">Crew</a>
    <a class="nav-item" href="/technology">Technology</a>
  </div>
</div>

<div class="desktop-container">
  <div class="logo">
    <img src="../../../assets/shared/logo.svg" />

    <div class="line"></div>
  </div>

  <div class="nav">
    <a [class]="navItems[0].klass" href="/"><strong>00</strong>Home</a>
    <a [class]="navItems[1].klass" href="/destination"><strong>01</strong>Destination</a>
    <a [class]="navItems[2].klass" href="/crew"><strong>02</strong>Crew</a>
    <a [class]="navItems[3].klass" href="/technology"><strong>03</strong>Technology</a>
  </div>
</div>