// for general stylings (both, mobile && desktop)
@media (min-width: 320px) {

}

// mobile
@media (max-width: 767px) {
  .tablet-container, .desktop-container { display: none; }

  .mobile-container {
    z-index: 10;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-container, .desktop-container { display: none; }

  .tablet-container {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      width: 45%;
      height: 90px;

      img {
        padding-left: 8%;
        padding-top: 21px;
      }
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 55%;
      background-color: rgba(255, 255, 255, 0.1);
      height: 90px;

      .nav-item {
        display: flex;
        align-items: center;
        height: 90px;
        color: #ffffff;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        text-decoration: none;
      }

      .nav-item:hover { border-bottom: 3px solid #ffffff; }
    }
  }
}

// desktop
@media (min-width: 1025px) {
  .mobile-container, .tablet-container { display: none; }

  .desktop-container {
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 43%;
      height: 90px;

      img {
        margin-left: 6%;
      }

      .line {
        height: 1px;
        background-color: #ffffff;
        width: 70%;
        z-index: 2;
      } 
    }

    .nav {
      display: flex;
      width: calc(57% + 30px);
      flex-direction: row;
      height: 90px;
      margin-left: -30px;
      z-index: 1;
      padding-left: 5%;
      background-color: rgba(255, 255, 255, 0.1);
      
      .nav-item {
        display: flex;
        align-items: center;
        height: 90px;
        margin: 0 4%;
        color: #ffffff;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        text-decoration: none;

        strong { padding-right: 10px; }
      }

      .nav-item:hover { border-bottom: 3px solid #ffffff; }
    }
  }
}