// for general stylings (both, mobile && desktop)
@media (min-width: 320px) {

}

// mobile
@media (max-width: 767px) {
  .tablet-container, .desktop-container { display: none; }

  .mobile-container {
    z-index: 1;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-container, .desktop-container { display: none; }

  .tablet-container {
    z-index: 1;
  }
}

// desktop
@media (min-width: 1025px) {
  .mobile-container, .tablet-container { display: none; }

  .desktop-container {
    z-index: 1;
    background-image: url('../../assets/home/background-home-desktop.jpg');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}