<div class="mobile-container">
  <app-navbar></app-navbar>
</div>

<div class="tablet-container">
  <app-navbar></app-navbar>

  <div class="tablet-content">
    <div class="space">
      <div class="h-5">So, you want to travel to</div>
      <div class="h-1">Space</div>
      <div class="text">
        Let's face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind of on the
        edge of it. Well sit back, and relax because we'll give you a
        truly out of this world experience!
      </div>
    </div>

    <div class="explore">
      <div class="circle">
        <div class="h-4">Explore</div>
      </div>
    </div>
  </div>
</div>

<div class="desktop-container">
  <app-navbar></app-navbar>

  <div class="desktop-content">
    <div class="space">
      <div class="h-5">So, you want to travel to</div>
      <div class="h-1">Space</div>
      <div class="text">
        Let's face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind of on the
        edge of it. Well sit back, and relax because we'll give you a
        truly out of this world experience!
      </div>
    </div>

    <div class="explore">
      <div class="circle">
        <div class="h-4">Explore</div>
      </div>
    </div>
  </div>
</div>